$color: teal;
$huy: black;
$link-color: green;

body{
     
    border: 1px solid $huy;
}
.link{
 display: inline-block;
 color: $link-color;
 width: 200px;
 

 &:hover{
     color: red;
 }
}
@mixin font-set($size, $border, $border-color){
 font-size: $size;
 border: $border;
 border-color: $border-color;
}
.link{
@include font-set(27px, 1px, black)
}

