$main-fonts: 'Exo 2','Roboto', sans-serif;
$link-color: #08200e;
$hover-color: #41b25d;
$border-color: 1px solid rgb(204, 193, 193);
$exo-font: 'Exo 2', sans-serif;
$roboto-font: 'Roboto', sans-serif;