
.about-us{
    position: relative;
   background-image: url(../images/sarah-sosiak-298060-unsplash.jpg); 
   background-position: 112% 100% ;
   background-size: 55%;
   background-repeat: no-repeat;
   height: 600px;
   
  
    
}

.about-us-content{
    margin-top: 54px;
    border-left: $border-color;
    padding-bottom: 141px;

     h2{
       width: 762px;
       opacity: 0.9;
       font-family: $main-fonts;
       font-size: 45px;
       font-weight: bold;
       letter-spacing: 0.4px;
       margin-left: 35px;
       color: $link-color;
    }
     p{
        width: 550px;
        opacity: 0.7;
        font-family: $main-fonts;
        font-size: 22px;
        line-height: 1.55;
        color: $link-color;
        margin-left: 35px;
        margin-top: 30px;
        
        
    }
}
.about-us-skils-list{
    width: 1161px;
    display: flex;
    position: absolute;
    bottom: -65px;
    box-shadow: 0 12px 28px 0 rgba(239, 239, 239, 0.7);
   
}
.skils-item{
    position: relative;
    width: 387px;
    height: 127px;
    background-color: #fafafa;
    border-bottom: 3px solid #fafafa;
    cursor: pointer;
    transition: all 0.5s ease;
     a{
        position: absolute;
        display: inline-block;
        width: 72px;
        height: 72px;
        background-image: url(../images/1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 24px;
        left: 28px;
        
        

    }
    .icon-clock {
        
    background-image: url(../images/2.svg);
        
    }
    .icon-fing{
        background-image: url(../images/3.svg);
    }
     h3{
        display: inline-block;
        position: absolute;
        text-transform: uppercase;
        left: 117px;
        top: 28px;
    }
     p{
        display: inline-block;
        position: absolute;
        width: 233px;
        top: 62px;
        left: 117px;
    }
}
.skils-item:hover{
    background-color: #ffffff;
    border-bottom: 3px solid $hover-color;
}